div(ng-controller="nomPlayerCtrl")
  button(ng-click="play()", class="button", ng-show="!playing", class="btn btn-info") Play
  button(ng-click="stop()", class="button alert", ng-show="playing", class="btn btn-info") Stop
  p Playing audio: 
    strong {{ playing }}