doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title Npr On Demand
    link(rel='stylesheet', href='css/app.css')
    link(rel='sylesheet', href='bootstrap/dist/css/bootstrap.css')
  body
    div(ng-app="nprOnDemand")
      div(ng-controller='nomAppCtrl')
        h4 Current Station: {{ episode.station }}
        nom_episode_selector(ng-model='episode')
        nom_player(ng-model='episode')
        nom_track_list(ng-model='episode')

    // Dependencies
    script(src="jquery/jquery.js")
    script(src="bootstrap/dist/js/bootstrap.js")
    script(src="angular/angular.js")
    script(src="angular-route/angular-route.js")
    script(src="angular-resource/angular-resource.js")
    script(src="angular-bootstrap/ui-bootstrap.js")
    script(src="angular-bootstrap/ui-bootstrap-tpls.js")

    // Angualar app
    script(src="js/templates.js")
    script(src="js/app.js")
    script(src="js/services.js")
    script(src="js/controllers.js")
    script(src="js/filters.js")
    script(src="js/directives.js")